---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./alertmanager-config.yaml
  - ./external-secret.yaml
  - ./grafana-dashboard.yaml
  - ./helm-release.yaml
  - ./oci-repository.yaml
  - ./scrape-config.yaml
configMapGenerator:
  - name: flux-metrics-configmap
    files:
      - flux-metrics.yaml=./resources/flux-metrics.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
