* text=auto eol=lf
*.sops.* diff=sopsdiffer
*.env linguist-detectable linguist-language=SHELL
*.json linguist-detectable linguist-language=JSON
*.md linguist-detectable linguist-language=MARKDOWN
*.sh linguist-detectable linguist-language=SHELL
*.toml linguist-detectable linguist-language=TOML
*.yaml linguist-detectable linguist-language=YAML
*.yaml.j2 linguist-detectable linguist-language=YAML
