---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
spec:
  chartRef:
    kind: OCIRepository
    name: kavita
  interval: 1h
  values:
    controllers:
      kavita:
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.4@sha256:07393ed7d6860e7312c0197b8c1ebcd4d53c52b7cabd542db08613410ff22c69
            env:
              TZ: America/Chicago
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ['ALL']}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 5000
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ['[STATUS] == 200'']
        hostnames:
          - '{{ .Release.Name }}.mordex.io'
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: kavita
        globalMounts:
          - path: /kavita/config
      manga:
        type: nfs
        server: komodo.internal
        path: /mnt/storage0/media/manga
        globalMounts:
          - path: /manga
            readOnly: true
