---
customization:
  extraKernelArgs:
    - i915.enable_guc=3 # Comet Lake CPU & Intel iGPU
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
    - sysctl.kernel.kexec_load_disabled=1 # Bare metal fix: https://github.com/siderolabs/talos/issues/8751#issuecomment-2120141890
  systemExtensions:
    officialExtensions:
      - siderolabs/i915 # Intel iGPU
      - siderolabs/intel-ucode # Intel iGPU
      - siderolabs/mei # Intel iGPU
