---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  chartRef:
    kind: OCIRepository
    name: plex
  interval: 1h
  values:
    controllers:
      plex:
        initContainers:
          zurg:
            restartPolicy: Always
            image:
              repository: ghcr.io/mmberry96/zurg
              tag: 0.1.10@sha256:df24882c0b3caf78f7d6924bebf1db6cbc04db3e108a6726d17d4ed485f1852b
            env:
              PLEX_URL: http://plex.default.svc.cluster.local:32400
              ZURG_MOUNT: /debrid
            envFrom:
              - secretRef:
                  name: plex-secret
            probes:
              liveness: &zurg-probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /dav/version.txt
                    port: 9999
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *zurg-probes
              startup:
                enabled: true
                port: 9999
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              runAsUser: 65534
              runAsGroup: 65534
              fsGroup: 65534
              allowPrivilegeEscalation: false
              capabilities: {drop: ['ALL']}
          rclone:
            restartPolicy: Always
            image:
              repository: rclone/rclone
              tag: 1.73.0
            args:
              - mount
              - 'zurg:'
              - '/data'
              - --allow-non-empty
              - --allow-other
              - --uid=65534
              - --gid=65534
              - --umask=002
              - --dir-cache-time=10s
              - --vfs-cache-mode=full
              - --vfs-cache-max-size=50G
            env:
              RCLONE_CONFIG: /config/rclone/rclone.conf
            securityContext:
              privileged: true
              runAsUser: 65534
              runAsGroup: 65534
              fsGroup: 65534
              capabilities:
                drop:
                  - 'ALL'
                add:
                  - 'SYS_ADMIN'
            resources:
              limits:
                squat.ai/fuse: 1
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10492@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c
            env:
              TZ: America/Chicago
              PLEX_ADVERTISE_URL: https://plex.mordex.io:443,http://10.60.0.128:32400,http://plex.default.svc.cluster.local:32400
              PLEX_NO_AUTH_NETWORKS: 10.10.0.0/24
            probes:
              liveness:
                enabled: true
                spec:
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ['ALL']}
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
              limits:
                memory: 8Gi
    defaultPodOptions:
      annotations:
        reloader.stakater.com/auto: 'true'
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: plex
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.60.0.128
        externalTrafficPolicy: Local
        ports:
          http:
            port: *port
          zurg:
            port: 9999
            primary: false
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ['[STATUS] == 401']
        hostnames:
          - '{{ .Release.Name }}.mordex.io'
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - # Ref: https://forums.plex.tv/t/external-srt-subtitles-are-not-working-w-reverse-proxy/886540
            backendRefs:
              - name: app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove:
                    - Range
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - name: app
                port: *port
    persistence:
      config:
        existingClaim: '{{ .Release.Name }}'
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server
      media:
        type: nfs
        server: komodo.internal
        path: /mnt/storage0/media
        advancedMounts:
          plex:
            app:
              - path: /media
                readOnly: true
      torrents:
        type: emptyDir
        advancedMounts:
          plex:
            app:
              - path: /debrid
                mountPropagation: HostToContainer
            rclone:
              - path: /data
                mountPropagation: Bidirectional
      zurg-config:
        type: configMap
        name: zurg-configmap
        advancedMounts:
          plex:
            rclone:
              - path: /config/rclone/rclone.conf
                subPath: rclone
            zurg:
              - path: /app/zurg_template.yml
                subPath: zurg
              - path: /app/plex_update.sh
                subPath: plex_update
      zurg-data:
        existingClaim: zurg-data
        advancedMounts:
          plex:
            zurg:
              - path: /app/data
      tmp:
        type: emptyDir
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server/Logs
                subPath: logs/plex
              - path: /transcode
                subPath: transcode
              - path: /tmp
                subPath: tmp
            rclone:
              - path: /.cache
                subPath: cache
            zurg:
              - path: /app/logs
                subPath: logs/zurg
