---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./external-secret.yaml
  - ./pvc.yaml
  - ./helm-release.yaml
  - ./oci-repository.yaml
  - ./resource-claim-template.yaml
configMapGenerator:
  - name: zurg-configmap
    files:
      - zurg=./resources/config.yaml
      - rclone=./resources/rclone.conf
      - plex_update=./resources/plex_update.sh
  - name: plex-loki-rules
    files:
      - plex.yaml=./resources/loki-rule.yaml
    options:
      labels:
        loki_rule: 'true'
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
