---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  chartRef:
    kind: OCIRepository
    name: homepage
  interval: 1h
  values:
    controllers:
      homepage:
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: latest
            env:
              HOMEPAGE_ALLOWED_HOSTS: '{{ .Release.Name }}.mordex.io'
            envFrom:
              - secretRef:
                  name: homepage-secret
            ports:
              - name: http
                containerPort: 3000
                protocol: TCP
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ['[STATUS] == 200']
        hostnames:
          - '{{ .Release.Name }}.mordex.io'
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      custom-js:
        type: configMap
        name: homepage-configmap
        globalMounts:
          - path: /app/config/custom.js
            subPath: custom.js
      custom-css:
        type: configMap
        name: homepage-configmap
        globalMounts:
          - path: /app/config/custom.css
            subPath: custom.css
      bookmarks:
        type: configMap
        name: homepage-configmap
        globalMounts:
          - path: /app/config/bookmarks.yaml
            subPath: bookmarks.yaml
      docker:
        type: configMap
        name: homepage-configmap
        globalMounts:
          - path: /app/config/docker.yaml
            subPath: docker.yaml
      kubernetes:
        type: configMap
        name: homepage-configmap
        globalMounts:
          - path: /app/config/kubernetes.yaml
            subPath: kubernetes.yaml
      services:
        type: configMap
        name: homepage-configmap
        globalMounts:
          - path: /app/config/services.yaml
            subPath: services.yaml
      settings:
        type: configMap
        name: homepage-configmap
        globalMounts:
          - path: /app/config/settings.yaml
            subPath: settings.yaml
      widgets:
        type: configMap
        name: homepage-configmap
        globalMounts:
          - path: /app/config/widgets.yaml
            subPath: widgets.yaml
      logs:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs
